<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Order</a>
                <a class="navbar-brand" th:href="@{/order/all}">Orders</a>
                <a class="navbar-brand" th:href="@{/ingredient/}">Ingredient list</a>
                <a class="navbar-brand" th:href="@{/pizza/}">Pizza list</a>
            </div>
        </div>
    </nav>
</div>
